# -----------------------------

# Build directory

# -----------------------------

build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Compiled binaries

generate
*.o
*.so
*.a

# -----------------------------

# Data files

# -----------------------------

*.csv

# Large physics data

*.dat
*.oscar

# -----------------------------

# ROOT files

# -----------------------------

*.root

# Optional: ignore ROOT output directories

rootfiles/
sampler_output/

# -----------------------------

# Model files

# -----------------------------

*.pth
*.pt
*.onnx

# -----------------------------

# Python cache

# -----------------------------

**pycache**/
*.pyc
*.pyo

# Virtual environments

venv/
qgp_env/
.env

# -----------------------------

# Jupyter

# -----------------------------

.ipynb_checkpoints/

# -----------------------------

# IDE files

# -----------------------------

.vscode/
.idea/

# -----------------------------

# System files

# -----------------------------

.DS_Store
Thumbs.db
